* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

@-webkit-keyframes slide {
	0% {-webkit-transform: translateY(80px); opacity: 0;}
	100% {-webkit-transform: translateY(0px); opacity: 1;}
}

@-moz-keyframes slide {
	0% {-moz-transform: translateY(80px); opacity: 0;}
	100% {-moz-transform: translateY(0px); opacity: 1;}
}

@-ms-keyframes slide {
	0% {-ms-transform: translateY(80px); opacity: 0;}
	100% {-ms-transform: translateY(0px); opacity: 1;}
}

@-o-keyframes slide {
	0% {-o-transform: translateY(80px); opacity: 0;}
	100% {-o-transform: translateY(0px); opacity: 1;}
}

@keyframes slide {
	0% {transform: translateY(80px); opacity: 0;}
	100% {transform: translateY(0px); opacity: 1;}
}

placeholder {
	color: rgba(142, 219, 242, 0.5);
}

::-webkit-input-placeholder {
	color: rgba(142, 219, 242, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
	color: rgba(142, 219, 242, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: rgba(142, 219, 242, 0.5);
}

:-ms-input-placeholder {
	color: rgba(142, 219, 242, 0.5);
}

body {
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	font-size: 14px;
	background-color: #020E12;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEIAAABCCAYAAADjVADoAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAA3XAAAN1wFCKJt4AAAAB3RJTUUH4AgbFB4l6ZLKSQAAAFZJREFUeNrt2jENgDAABMAHASyoYMZWpTDWWxcskBAUsGGhSbkz8D/8+AkAAAAAAAAAwNim3gVqe9YkKdty9cyfbQEAAAAAAAAARvX7f8Rx3nviH/F5AaflDQJlfwozAAAAAElFTkSuQmCC');
}

#container {
	position: absolute;
	left: 0px;
	top: calc(50% - 83px);
	width: 100%;
	height: 144px;
}


/*	ENGINE INDEX
	----------------------------------------------------- */

#engines {
	width: 700px;
	height: 80px;
	position: absolute;
	left: 50%;
	bottom: calc(50% + 40px);
	margin-left: -350px;
	margin-bottom: 10%;
	-webkit-animation:slide 0.75s ease;
	moz-animation:slide 0.75s ease;
	ms-animation:slide 0.75s ease;
	o-animation:slide 0.75s ease;
	animation:slide 0.75s ease;
}

#engines a {
	display: block;
	width: 225px;
	height: 80px;
	cursor: pointer;
	opacity: 0.0;
	position: absolute;
}

#engines a img {
	display: block;
	height: 100%;
	width: 100%;
}



/* 	SEARCH BOX
	----------------------------------------------------- */

#input input {
	font-size: 140px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	background: #020E12;
	width: 100%;
	outline: 0;
	color: #8EDBF2;
	border: 0px;
}

#lang {
	position: absolute;
	right: 49px;
	top: 39px;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #b7c2cf;
	cursor: pointer;
}

#lang:hover {
	background: #b7c2cf;
	color: white;
}

#lang:active {
	background: #939fad;
}

#method {
	display: none;
}



/* 	SEARCH SUGGESTIONS
	----------------------------------------------------- */

#sugs {
	display: none;
	position: absolute;
	background: rgba(255,255,255,0.8);
	border: 1px solid #dae2e9;
	border-top: 0;
	left: 41px;
	top: 68px;
	right: 41px;
	list-style: none;
	padding: 3px 0;
	font-size: 11px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
}

#sugs li a {
	display: block;
	padding: 3px 8px;
	color: #74889e;
}

#sugs li.active a {
	background: #b7c2cf;
	color: white;
}

#sugs li a:active {
	background: #939fad;
}

